.footer {
  display: flex;
  flex-direction: column;

  background-color: #fef4db;
  &__copy {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #e6ce54;
    margin: 20px 50px 20px;
  }
}
