/*main {
  min-height: 80vh;
}
*/
.logo__suelen {
  width: 100px;
  margin-left: 15px;
}
.icon{
  width: 30px;
  height: 30px;
}

//header {
  //background-color:  #f3ecab;
//}
 .contact{
  background-color: yellow;
 }


